.body {
  -fx-background-color: #1d1d1d;
  -fx-text-fill: #00ffff;
  -fx-font-family: "Lucida Console";
  -fx-padding: 25;
  -fx-margin: 25;
}

.bar{
  -fx-background-color: #464b55;
  -fx-padding: 10px;
  -fx-display: flex;
}

.my-rect { 
  -fx-background-color: #F0F0F0;
}


.myButton {
  -fx-background-color: #f0ffff;
  -fx-text-fill: #97abcc;
  -fx-font-size: 14px;
}

#imageView {

    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.label{
    -fx-font-size: 17;
    -fx-font-family: "Lucida Console";
}

#titleText{
    -fx-font-size:60;
}

#newLabel{

    -fx-background-color: transparent;
    -fx-text-fill: #A9A9A9;
    -fx-border-width: 2;
    -fx-border-color: #A9A9A9;
    -fx-border-radius: 5;
    -fx-font-family: "Lucida Console";
}

.button2{
    -fx-background-color: transparent;
    -fx-text-fill: #A9A9A9;
    -fx-border-width: 2;
    -fx-border-color: #A9A9A9;
    -fx-border-radius: 5;
}